<ion-header>
  <ion-toolbar color="light">
    <ion-title>Lengkapi Profilmu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="changeProfileForm">
    <ion-item no-padding>
      <ion-input
        type="text"
        class="text-dark"
        color="dark"
        formControlName="name"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        placeholder="Nama"
      ></ion-input>
    </ion-item>
    <div *ngIf="submitted && !!f.name.errors" class="invalid-feedback">
      <p ion-text class="text08" *ngIf="!!f.name.errors.required">
        <ion-text color="danger">
          Nama harus diisi
        </ion-text>
      </p>
      <p ion-text class="text08" *ngIf="!!f.name.errors.maxlength">
        <ion-text color="danger">
          Nama yang anda inputkan lebih dari 255 karakter
        </ion-text>
      </p>
      <p ion-text class="text08" *ngIf="!!f.name.errors.minlength">
        <ion-text color="danger">
          Nama harus terdiri dari 4 karakter atau lebih
        </ion-text>
      </p>
      <p ion-text class="text08" *ngIf="!!f.name.errors.pattern">
        <ion-text color="danger">
          Isian yang diinputkan tidak sesuai
        </ion-text>
      </p>
    </div>

    <ion-item no-padding>
      <ion-input
        type="email"
        class="text-dark"
        color="dark"
        formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        placeholder="Email"
      ></ion-input>
    </ion-item>
    <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
      <p ion-text class="text08" *ngIf="!!f.email.errors.required">
        <ion-text color="danger">
          Email harus diisi
        </ion-text>
      </p>
      <p ion-text class="text08" *ngIf="!!f.email.errors.email">
        <ion-text color="danger">
          Format email yang anda masukkan salah. Email hanya boleh menggunakan
          alphanumeric, underscore, titik dan @
        </ion-text>
      </p>
      <!-- <p
        ion-text
        class="text08"
        *ngIf="msg_server.email && !!f.email.errors.notValid"
      >
        <ion-text color="danger">
          {{ msg_server.email }}
        </ion-text>
      </p> -->
    </div>

    <ion-item no-padding>
      <ion-input
        type="tel"
        class="text-dark"
        color="dark"
        formControlName="phone"
        [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
        placeholder="Nomer Telp"
      ></ion-input>
    </ion-item>
    <div *ngIf="submitted && !!f.phone.errors" class="invalid-feedback">
      <p ion-text class="text08" *ngIf="!!f.phone.errors.required">
        <ion-text color="danger">
          Nomor telepon harus diisi
        </ion-text>
      </p>
      <p ion-text class="text08" *ngIf="!!f.phone.errors.minlength">
        <ion-text color="danger">
          Nomor telepon yang anda masukkan salah. Nomor telepon harus terdiri 3
          sampai 13 nomor
        </ion-text>
      </p>
      <p ion-text class="text08" *ngIf="!!f.phone.errors.maxlength">
        <ion-text color="danger">
          Nomor telepon yang anda masukkan salah. Nomor telepon harus terdiri 3
          sampai 13 nomor
        </ion-text>
      </p>
    </div>

    <ion-item no-padding>
      <ion-textarea
        type="text"
        class="text-dark"
        color="dark"
        formControlName="address"
        [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
        placeholder="Alamat"
        rows="4"
      ></ion-textarea>
    </ion-item>
    <div *ngIf="submitted && !!f.address.errors" class="invalid-feedback">
      <p ion-text class="text08" *ngIf="!!f.address.errors.required">
        <ion-text color="danger">
          Alamat harus diisi
        </ion-text>
      </p>
      <p ion-text class="text08" *ngIf="!!f.address.errors.maxlength">
        <ion-text color="danger">
          Alamat yang anda inputkan lebih dari 255 karakter
        </ion-text>
      </p>
    </div>
  </form>

  <ion-button
    expand="block"
    color="blues"
    tappable
    style="margin-top: 30px"
    (click)="submitProfile()"
    >Simpan</ion-button
  >
</ion-content>
