<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>aspirasi-user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="dataEmpty">
    Belum ada aspirasi yang dibuat
  </div>

  <!-- Data to display after skeleton screen -->
  <ion-card *ngFor="let aspirasi of dataAspirasi">
    <img
      class="img-cover"
      src="{{
        aspirasi.attachments !== null
          ? aspirasi.attachments[0].url
          : '../../../assets/img/placeholder_image.png'
      }}"
      (click)="goDetail(aspirasi.id)"
    />
    <ion-card-header>
      <ion-card-subtitle class="dark-read" (click)="goDetail(aspirasi.id)">{{
        aspirasi.category.name
      }}</ion-card-subtitle>
      <ion-card-title (click)="goDetail(aspirasi.id)">{{
        aspirasi.title
      }}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="padding-top: 0">
      <div (click)="goDetail(aspirasi.id)" style="margin: 15px 0">
        {{ aspirasi.kabkota.name }}, {{ aspirasi.kecamatan.name }},
        {{ aspirasi.kelurahan.name }}
      </div>
      <!-- <div class="d-inline-f" slot="end">
        <p *ngIf="aspirasi.likes_counts" style="margin: 5px;">
          1 orang menyukai ini.
        </p>
      </div> -->
    </ion-card-content>
    <ion-item>
      <!-- <ion-icon name="walk" slot="start"></ion-icon> -->
      <!-- <ion-text slot="end" class="font-footer"
        ><p>{{ aspirasi.status_label }}</p></ion-text
      > -->

      <ion-badge [color]="checkStatus(aspirasi.status)" slot="end">{{
        aspirasi.status_label
      }}</ion-badge>
      <!-- {{ checkStatus(status) }} -->
    </ion-item>
  </ion-card>

  <!-- Skeleton screen -->
  <div *ngIf="!dataAspirasi">
    <ion-card>
      <ion-thumbnail slot="start" style="width: 100%; height: 160px;">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-subtitle class="dark-read">
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content style="padding-top: 0">
        <div style="margin: 15px 0">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </div>
        <div>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-thumbnail slot="start" style="width: 100%; height: 160px;">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-subtitle class="dark-read">
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content style="padding-top: 0">
        <div style="margin: 15px 0">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </div>
        <div>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
