:host {
  ion-card-header {
    padding-bottom: unset !important;
  }

  ion-item {
    --inner-border-width: 1px 0px 0px 0;
    --padding-start: 0px;
  }
}

.img-cover {
  object-fit: cover;
  height: 200px;
}
