<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>polling</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let polling of dataPolling; let i = index">
    <ion-item>
      <ion-text
        ><p>{{ polling.name }}</p>
        <ion-note>10 Votes</ion-note></ion-text
      >
      <ion-button
        fill="solid"
        slot="end"
        color="success"
        (click)="goDetail(polling.id)"
        >Vote</ion-button
      >
    </ion-item>
  </ion-card>
</ion-content>
