<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-btn" color="dark" (click)="backButton()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>polling</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-message-control
    *ngIf="msgResponse.type"
    [type]="msgResponse.type"
    [message]="msgResponse.msg"
  ></app-message-control>

  <div *ngIf="isLoading">
    <ion-card *ngFor="let key of [0, 1, 2, 3, 4, 5, 6]">
      <ion-item>
        <app-skeleton height="30px" style="width: 80%"></app-skeleton>
        <app-skeleton
          height="20px"
          slot="end"
          style="width: 20%"
        ></app-skeleton>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="!isLoading">
    <ion-card *ngFor="let polling of dataPolling; let i = index">
      <ion-item>
        <ion-text
          ><p>{{ polling.name }}</p>
          <ion-note
            >{{
              polling.votes_count > 0 ? polling.votes_count : 0
            }}
            Votes</ion-note
          ></ion-text
        >
        <ion-button
          fill="solid"
          slot="end"
          color="success"
          (click)="goDetail(polling.id)"
          >Vote</ion-button
        >
      </ion-item>
    </ion-card>
  </div>

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="doInfinite($event)"
    *ngIf="!isLoading"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Sedang mengambil data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
