<ion-header>
  <ion-toolbar>
    <ion-title>Bantuan</ion-title>

    <ion-icon
      slot="end"
      name="information-circle-outline"
      (click)="gotoCommunity()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-text class="text-dark">
    <h5 padding>Pertanyaan yang sering diajukan</h5>
  </ion-text>
  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header>
      <ion-text class="text-dark">
        <h6>{{ item.title }}</h6>
      </ion-text>
    </ion-card-header>

    <ion-card-content>
      <app-expandable [expanded]="item.expanded">
        <div [innerHTML]="item.description"></div>
      </app-expandable>
    </ion-card-content>
  </ion-card>

  <div class="mb-90"></div>
</ion-content>

<ion-button
  shape="round"
  color="blues"
  class="btn-bottom"
  (click)="callAdmin()"
>
  Hubungi Admin
</ion-button>
