.paz {
  position: relative;
  z-index: 10;
}

ion-item,
ion-label {
  color: #110a3b !important;
}

ion-input {
  backface-visibility: #110a3b;
}

ion-footer p {
  text-align: center;
  padding: 0;
  margin: 5px;
  font-size: 12px;
}

ion-item {
  --border-color: var(--ion-color-dark);
}

.text-buttom {
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 90%;
  text-decoration: underline;
}
