<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">
    <!-- Logo -->
    <div
      padding-horizontal
      text-center
      class="animated fadeInDown ion-padding-top"
    >
      <div class="logo"></div>
    </div>

    <!-- Login form -->
    <ion-card
      class="box-selector"
      style="background-color: #FFFFFF;padding: 10px 15px 20px;"
    >
      <form [formGroup]="onLoginForm" autocomplete="off" class="">
        <ion-item
          no-padding
          class="animated fadeInUp"
          style="margin-bottom: 10px"
        >
          <ion-label id="username">
            <ion-icon name="person" item-start color="dark"></ion-icon>
          </ion-label>
          <ion-input
            color="dark"
            type="text"
            formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            (keydown.space)="$event.preventDefault()"
            placeholder="Username"
            (keyup.enter)="login()"
          >
          </ion-input>
        </ion-item>
        <div *ngIf="submitted && !!f.username.errors" class="invalid-feedback">
          <p ion-text class="text08" *ngIf="!!f.username.errors.required">
            <ion-text color="danger">
              Username harus diisi
            </ion-text>
          </p>
          <p ion-text class="text08" *ngIf="!!f.username.errors.minlength">
            <ion-text color="danger">
              Username minimal 4 karakter
            </ion-text>
          </p>
        </div>

        <ion-item no-padding class="animated fadeInUp input-password">
          <ion-label color="dark" stacked>
            <ion-icon name="lock" item-start color="dark"></ion-icon>
          </ion-label>
          <ion-input
            type="{{ type }}"
            class="text-dark"
            color="dark"
            formControlName="password"
            (keyup.enter)="login()"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            placeholder="Kata Sandi"
          ></ion-input>
          <ion-icon
            *ngIf="!passwordShown"
            color="medium"
            (click)="showPassword()"
            name="eye"
            slot="end"
          ></ion-icon>
          <ion-icon
            *ngIf="passwordShown"
            color="dark"
            (click)="showPassword()"
            name="eye"
            slot="end"
          ></ion-icon>
        </ion-item>
        <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback">
          <p ion-text class="text08" *ngIf="!!f.password.errors.required">
            <ion-text color="danger">
              Kata Sandi harus diisi
            </ion-text>
          </p>
        </div>
      </form>
      <ion-button
        expand="block"
        color="blues"
        tappable
        (click)="login()"
        style="margin-top: 30px"
        >Masuk</ion-button
      >
    </ion-card>

    <p text-center tappable class="paz">
      <ion-text (click)="presentAlert('forgot')">
        Lupa Kata Sandi ?
      </ion-text>
    </p>
  </div>

  <ion-text class="text-buttom">
    <p class="min-mb-5">
      <a (click)="launchweb('tos')">Term of Service </a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a (click)="launchweb('privacy')"> Privacy Policy</a>
    </p>
    <br />
    <p>
      <a (click)="downloadPdf()">Unduh buku panduan</a>
    </p>
  </ion-text>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-text color="dark">
      <p>Versi {{ app_version }}</p>
      <p>
        {{ hakCipta }}
      </p>
    </ion-text>
  </ion-toolbar>
</ion-footer>
