:host {
  ion-card-header {
    padding-bottom: unset !important;
  }

  .header-md:after {
    background-image: unset;
  }

  ion-segment-button {
    text-transform: capitalize;
  }

  ion-item {
    --border-style: none;
  }

  .section-2 {
    --padding-start: none;
    --inner-padding-end: none;
    margin-bottom: 5px;
  }
}

.img-cover {
  border-radius: 3px;
  object-fit: cover;
  // max-height: 200px;
}

.icon-heart {
  margin-top: 3px;
  font-size: 20px;
}

.address {
  margin: 15px 0;
}

.author {
  margin: 15px 0;
  font-weight: bold;
}

.text-like {
  margin: 8px;
  font-size: 10px;
}

.category-text {
  font-size: 15px;
  color: gray;
}

.liked {
  --color: var(--ion-color-danger);
}

.unliked {
  --color: var(--ion-color-medium);
}
