<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lapor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <ion-card
    class="card-lapor"
    *ngFor="let content of contentsLapor; let i = index"
    (click)="selectLapor(content.nameInit, content.url)"
    [id]="content.stepId"
    data-position="bottom"
  >
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="content.logo" />
      </ion-thumbnail>
      <ion-text>{{ content.name }}</ion-text>
    </ion-item>

    <ion-card-content text-justify>
      {{ content.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
