:host {
    ion-card {
        box-shadow: 1px 1px 12px rgba(var(--ion-color-dark-rgb), 0.25) !important;
    }
}

.title-lapor {
    font-size: 18px;
    margin-bottom: 10px;
}

.img-lapor {
    height: 200px;
}

.card-lapor {
    background-color: #fff;
    margin-bottom: 33px;
}