<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tanya Jawab</ion-title>
  </ion-toolbar>
  <!-- <ion-segment style="background: #f4f4f4">
    <ion-segment-button value="diskusi" checked>
      <ion-label>Diskusi</ion-label>
    </ion-segment-button>
    <ion-segment-button value="arsip">
      <ion-label>Arsip</ion-label>
    </ion-segment-button>
  </ion-segment> -->
</ion-header>

<ion-content>
  <app-question-and-answer-list></app-question-and-answer-list>
</ion-content>

<ion-button shape="round" color="blues" class="btn-bottom">
  <ion-icon slot="start" name="add"></ion-icon>
  Buat Pertanyaan
</ion-button>
