:host {
  ion-segment-button {
    text-transform: capitalize;
  }

  ion-segment {
    --color-checked: var(--ion-color-blues);
    --color-checked-disabled: var(--ion-color-blues);
    .segment-button-checked {
      color: black;
    }
  }
}

.btn-bottom {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
}
