<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Aspirasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{ record['photo'] }}" />
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="dark-read">{{ record['category']['name'] }}</ion-card-subtitle>
      <ion-card-title>{{ record['title'] }}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="padding-top: 0">
      <div style="margin: 15px 0">
        {{ record['kabkota']['name'] }}, {{ record['kecamatan']['name'] }}, {{ record['kelurahan']['name'] }}
      </div>

      <div>
        <ion-label class="ion-text-justify">{{ record['description'] }}</ion-label>
      </div>

      <div style="margin: 15px 0">
        <ion-icon name="heart" color="danger"></ion-icon> 10 orang menyukai ini.
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
