<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start" (click)="backButton()">
        <ion-button shape="round" color="dark">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Detail Usulan</ion-title>
    <ion-icon
      *ngIf="isEditable()"
      name="more"
      slot="end"
      size="large"
      (click)="navbarMore($event)"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!dataAspirasi">
    <ion-item style="margin-top: 10px;">
      <ion-avatar slot="start">
        <app-skeleton height="100%" width="100%"></app-skeleton>
      </ion-avatar>
      <app-skeleton height="20px" style="width: 80%;"></app-skeleton>
    </ion-item>

    <app-skeleton height="150px" width="100%"></app-skeleton>

    <ion-item>
      <app-skeleton height="20px" style="width: 25%"></app-skeleton>

      <app-skeleton slot="end" height="20px" style="width: 30%"></app-skeleton>
    </ion-item>
    <div padding>
      <app-skeleton slot="end" height="20px" style="width: 100%"></app-skeleton>
      <app-skeleton slot="end" height="20px" style="width: 70%"></app-skeleton>
      <app-skeleton slot="end" height="20px" style="width: 60%"></app-skeleton>
      <app-skeleton slot="end" height="20px" style="width: 50%"></app-skeleton>
    </div>
  </div>

  <div *ngIf="dataAspirasi">
    <ion-item style="margin-top: 10px;">
      <ion-avatar slot="start">
        <img
          [src]="dataAspirasi.author.photo_url_full"
          onError="this.src='assets/img/user.png';"
        />
      </ion-avatar>
      <ion-text>{{ dataAspirasi.author.name }}</ion-text>
    </ion-item>

    <img
      padding
      *ngIf="!offline"
      class="img-cover min-mt-5"
      src="{{
        dataAspirasi.attachments !== null
          ? dataAspirasi.attachments[0].url
          : '../../../assets/img/placeholder_image.png'
      }}"
      onError="this.src='assets/img/placeholder_image.png';"
    />
    <img
      *ngIf="offline"
      class="img-cover"
      src="../../../assets/img/placeholder_image.png"
    />

    <ion-item
      class="section-2"
      *ngIf="!myAspirasi && checkPublish() && dataAspirasi.status === 10"
    >
      <div class="d-inline-f" slot="start">
        <ion-icon
          name="heart"
          [color]="checkStateLike() ? 'danger' : 'medium'"
          class="icon-heart"
          (click)="doLike()"
        ></ion-icon>
        <p class="text-like">
          {{ checkCountLike() }}
          likes
        </p>
      </div>

      <ion-text
        slot="end"
        class="date-text"
        *ngIf="dataAspirasi.status === 5"
        >{{
          dataAspirasi.submitted_at * 1000 | date: 'd MMMM y H:mm'
        }}</ion-text
      >

      <ion-text
        slot="end"
        class="date-text"
        *ngIf="dataAspirasi.status === 3 || dataAspirasi.status === 10"
      >
        {{ dataAspirasi.approved_at * 1000 | date: 'd MMMM y H:mm' }}</ion-text
      >
    </ion-item>

    <div
      *ngIf="myAspirasi || checkPublish() === false"
      style="margin-bottom: 10px"
    >
      <ion-item>
        <div slot="start">
          <ion-text [color]="checkStatus(dataAspirasi.status)">
            {{ dataAspirasi.status_label }}
          </ion-text>
        </div>
        <div slot="end">
          <ion-text class="date-text" *ngIf="dataAspirasi.status === 5">
            {{
              dataAspirasi.submitted_at * 1000 | date: 'd MMMM y H:mm'
            }}</ion-text
          >

          <ion-text
            class="date-text"
            *ngIf="dataAspirasi.status === 3 || dataAspirasi.status === 10"
          >
            {{
              dataAspirasi.approved_at * 1000 | date: 'd MMMM y H:mm'
            }}</ion-text
          >
        </div>
      </ion-item>
    </div>

    <!-- <div
      class="section-desc"
      *ngIf="
        myAspirasi && (dataAspirasi.status === 3 || dataAspirasi.status === 10)
      "
    > -->

    <div class="section-desc">
      <ion-text class="category-text">{{
        dataAspirasi['category']['name']
      }}</ion-text>
      <h6 style="font-weight: bold;">{{ dataAspirasi['title'] }}</h6>
      <ion-label class="ion-text-justify">{{
        dataAspirasi['description']
      }}</ion-label>

      <div *ngIf="dataAspirasi['approval_note']" class="section-note">
        <h6 style="font-weight: bold;">Catatan</h6>
        <ion-label class="ion-text-justify">{{
          dataAspirasi['approval_note']
        }}</ion-label>
      </div>
    </div>

    <ion-text padding class="location" *ngIf="!myAspirasi && checkPublish()">
      {{ dataAspirasi['kabkota']['name'] }},
      {{ dataAspirasi['kecamatan']['name'] }},
      {{ dataAspirasi['kelurahan']['name'] }}
    </ion-text>
  </div>
</ion-content>
