<ion-header>
  <ion-toolbar color="light"
    ><ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqqtjyWlHu1k4dCwHwGLuCUcP6lsSxalNnq4vuyKVS-yAE8LAQ"
    class="img-news"
  />

  <div padding>
    <div class="card-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>

    <ion-item>
      <ion-text class="ion-margin-top ion-margin-bottom"
        ><img src="assets/icon/detik.png" class="source-icon" alt="sumber" />
        <p>detik.com</p>
        <ion-note class="source-title">
          {{ headline.source }}</ion-note
        ></ion-text
      >
    </ion-item>
  </div>
</ion-content>
