:host {
  ion-item {
    --border-color: transparent;
  }

  ion-item {
    --padding-start: 0px;
  }

  ion-button {
    --background: var(--ion-color-tertiary-contrast);
    color: #707070;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  }

  ion-card {
    border-radius: 5px;

    background: white;
  }
}

.box-shadow {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.13);
  margin-bottom: 3px;
}

.news-other {
  background: #f4f4f4;
}

.img-news {
  width: 100%;
  max-height: 180px;
}

.card-title {
  font-size: 1em;
}

.source-title {
  display: inline-flex;
  align-items: center;
  font-size: 11px;
}

.headlines-img {
  max-width: 60px;
  height: 60px;
  border-radius: 4px;
}

.source-icon {
  width: 31px;
  margin-right: 3px;
}

.content-news {
  color: #707070;
  font-size: 0.9em;
}

.headlines-img-more {
  max-width: 60px;
  height: 60px;
  border-radius: 4px;
}

.source-title-more {
  display: inline-flex;
  align-items: center;
  font-size: 10px;
}

.source-icon-more {
  width: 17px;
  margin-right: 3px;
}
