<ion-header>
  <ion-toolbar color="light"
    ><ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqqtjyWlHu1k4dCwHwGLuCUcP6lsSxalNnq4vuyKVS-yAE8LAQ"
    class="img-news"
  />

  <div padding class="box-shadow">
    <div class="card-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>

    <ion-item class="mt-5 mb-5">
      <ion-text>
        <ion-note class="source-title"
          ><img src="assets/icon/detik.png" class="source-icon" alt="sumber" />
          detik.com <br />
          2 jam yang lalu
        </ion-note></ion-text
      >
    </ion-item>

    <ion-text class="content-news">
      Jakarta - Gubernur Jawa Barat Ridwan Kamil atau hangat disapa Kang Emil
      kedapatan berfoto bersama di depan mobil klasik besutan Volkswagen. Bukan
      VW Beetle atau VW Kodok, melainkan Karmann Ghia tipe 14 jenis Convertible.
      Hal ini diketahui melalui akun jejaring sosial Instagram miliknya yang
      diunggah pada Kamis (06/06/2019) yang disebut mobil itu adalah milik putra
      sulung Ridwan Kamil, Emmeril Kahn Mumtadz. “Jalan-jalan naik mobil antik
      milik Eril. Olehnya dijadikan bisnis sewa mobil pengantin untuk menambah
      biaya kuliahnya,” sepenggal cuitan dalam caption foto seperti dilihat
      detikcom. Menarik garis ke belakang Karmann Ghia tipe 14 diproduksi selama
      19 tahun, masa pakai yang cukup lama untuk model mobil klasik yang luar
      biasa tersebut. Karmann Ghia menggabungkan sasis dan mekanik dari Tipe 1
      (beetle) dengan gaya oleh Carrozzerria Ghia Italia dan bodywork buatan
      tangan oleh Karmann. Karena garis organik khas Karmann Ghia, butuh hampir
      dua tahun untuk mendapatkan mobil dalam produksi massal. Persiapan
      produksi ini dibuat dalam kerja sama erat antara Perusahaan Karmann dan
      Volkswagen. Presentasi sebenarnya dari model produksi kepada publik adalah
      pada tahun 1955. Produksi mobil dimulai pada bulan Agustus 1955. Model
      pertama memiliki 30HP flat berpendingin udara 4-silinder, mesin diambil
      dari model Beetle. Basis mobil itu adalah basis Volkswagen Beetle yang
      dimodifikasi tempat pengerjaan body Karmann Ghia. Pada tahun 1956 Karmann
      Ghia ke-10.000 diproduksi pada 22 Oktober 1956. Ini hanya 14 bulan setelah
      diperkenalkan pada tahun 1955. Pada tahun 1957, Karmann Ghia convertible
      diperkenalkan di International Motor Show ke-38 di Frankfurt dan
      produksinya dimulai pada tanggal 1 November tahun itu. Selama masa
      produksinya, desainnya sedikit berubah seiring berjalannya waktu, sebagian
      besar karena perubahan tuntutan keamanan. Produksi Karmann Ghia tipe 14
      berakhir pada tanggal 31 Juli 1974.
    </ion-text>
  </div>

  <div class="news-other">
    <div padding>
      <ion-button expand="full" class="mb-5 mt-5 bg-white"
        >Berita Lainnya</ion-button
      >
    </div>

    <h5 padding class="min-mt-5">Berita Terbaru</h5>
    <ion-card
      class="text-dark min-mt-5 ion-margin-bottom"
      *ngFor="let headline of dummyHeadlines"
    >
      <ion-item>
        <ion-text class="mb-5 ml-10"
          ><p>{{ headline.title }}</p>
          <ion-note class="source-title-more"
            ><img
              src="assets/icon/detik.png"
              class="source-icon-more"
              alt="sumber"
            />
            {{ headline.source }}</ion-note
          ></ion-text
        >
        <img
          slot="end"
          [src]="headline.image"
          alt="icon"
          class="headlines-img-more"
        />
      </ion-item>
    </ion-card>
  </div>
</ion-content>
