:host {
  ion-item,
  .input-password {
    --inner-padding-end: none;
  }

  ion-item {
    --border-color: transparent;
    --highlight-color-focused: transparent;
    background-color: #e2e2e2;
    padding-left: 10px;
    border-radius: 5px;
    padding-right: 10px;
    margin-top: 8px;
    margin-bottom: 25px;
  }

  ion-label,
  ion-input {
    font-size: 15px;
  }
}

.paz {
  position: relative;
  z-index: 10;
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
}

.text08 {
  margin-top: -15px;
}
