<ion-header>
  <ion-toolbar color="light">
    <ion-icon
      name="arrow-back"
      slot="start"
      size="large"
      (click)="dismiss()"
      *ngIf="profilePassword"
    ></ion-icon>
    <ion-title>Ubah Kata Sandi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="changePasswordForm">
    <div *ngIf="profilePassword">
      <ion-label position="stacked">Masukan kata sandi lama</ion-label>
      <ion-item no-padding>
        <ion-input
          type="{{ passwordShow[2].type }}"
          class="text-dark"
          color="dark"
          formControlName="password_old"
          [ngClass]="{ 'is-invalid': submitted && f.password_old.errors }"
          placeholder="Kata Sandi"
        ></ion-input>
        <ion-icon
          *ngIf="!passwordShow[2].show"
          color="medium"
          (click)="showPassword(2)"
          name="eye"
          slot="end"
        ></ion-icon>
        <ion-icon
          *ngIf="passwordShow[2].show"
          color="dark"
          (click)="showPassword(2)"
          name="eye"
          slot="end"
        ></ion-icon>
      </ion-item>
      <div
        *ngIf="submitted && !!f.password_old.errors"
        class="invalid-feedback"
      >
        <p ion-text class="text08" *ngIf="!!f.password_old.errors.required">
          <ion-text color="danger">
            Kata Sandi harus diisi
          </ion-text>
        </p>
        <p ion-text class="text08" *ngIf="!!f.password_old.errors.minlength">
          <ion-text color="danger">
            Kata Sandi minimal 5 karakter
          </ion-text>
        </p>
      </div>
    </div>

    <ion-label position="stacked">Masukan kata sandi baru</ion-label>
    <ion-item no-padding>
      <ion-input
        type="{{ passwordShow[0].type }}"
        class="text-dark"
        color="dark"
        formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        placeholder="Kata Sandi"
      ></ion-input>
      <ion-icon
        *ngIf="!passwordShow[0].show"
        color="medium"
        (click)="showPassword(0)"
        name="eye"
        slot="end"
      ></ion-icon>
      <ion-icon
        *ngIf="passwordShow[0].show"
        color="dark"
        (click)="showPassword(0)"
        name="eye"
        slot="end"
      ></ion-icon>
    </ion-item>
    <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback">
      <p ion-text class="text08" *ngIf="!!f.password.errors.required">
        <ion-text color="danger">
          Kata Sandi harus diisi
        </ion-text>
      </p>
      <p ion-text class="text08" *ngIf="!!f.password.errors.minlength">
        <ion-text color="danger">
          Kata Sandi minimal 5 karakter
        </ion-text>
      </p>
    </div>

    <ion-label position="stacked">Ulangi kata sandi baru</ion-label>
    <ion-item no-padding>
      <ion-input
        type="{{ passwordShow[1].type }}"
        class="text-dark"
        color="dark"
        formControlName="password_confirmation"
        [ngClass]="{
          'is-invalid': submitted && f.password_confirmation.errors
        }"
        placeholder="Kata Sandi"
      ></ion-input>
      <ion-icon
        *ngIf="!passwordShow[1].show"
        color="medium"
        (click)="showPassword(1)"
        name="eye"
        slot="end"
      ></ion-icon>
      <ion-icon
        *ngIf="passwordShow[1].show"
        color="dark"
        (click)="showPassword(1)"
        name="eye"
        slot="end"
      ></ion-icon>
    </ion-item>
    <div
      *ngIf="submitted && !!f.password_confirmation.errors"
      class="invalid-feedback"
    >
      <p
        ion-text
        class="text08"
        *ngIf="!!f.password_confirmation.errors.required"
      >
        <ion-text color="danger">
          Kata Sandi harus diisi
        </ion-text>
      </p>
      <p
        ion-text
        class="text08"
        *ngIf="!!f.password_confirmation.errors.minlength"
      >
        <ion-text color="danger">
          Kata Sandi minimal 5 karakter
        </ion-text>
      </p>
      <p
        ion-text
        class="text08"
        *ngIf="!!f.password_confirmation.errors.MatchPassword"
      >
        <ion-text color="danger">
          Kata sandi konfirmasi anda salah
        </ion-text>
      </p>
    </div>
  </form>

  <ion-button
    expand="block"
    color="blues"
    tappable
    (click)="changePassword()"
    style="margin-top: 30px"
    >Masuk</ion-button
  >
</ion-content>
