<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Aspirasi</ion-title>
    <ion-buttons slot="end" (click)="goMyAspirasi()">
      <ion-button shape="round" color="dark">
        <ion-icon name="bookmarks"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" style="background: #f4f4f4">
    <ion-segment-button value="umum" checked>
      <ion-label>Umum</ion-label>
    </ion-segment-button>
    <ion-segment-button value="myAspirasi">
      <ion-label>Aspirasi Saya</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-message-control
    *ngIf="msgResponse.type"
    [type]="msgResponse.type"
    [message]="msgResponse.msg"
  ></app-message-control>

  <app-aspirasi-list *ngIf="currentComponent === 'umum'"></app-aspirasi-list>

  <!-- infinite scroll -->
  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="doInfinite($event)"
    *ngIf="dataAspirasi"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Sedang mengambil data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
