<ion-header>
  <ion-toolbar>
    <ion-title>aspirasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let record of records">
    <ion-card-header>
      <ion-card-subtitle class="dark-read">{{ record['category']['name'] }}</ion-card-subtitle>
      <ion-card-title>{{ record['title'] }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-label class="ion-text-justify">{{ record['description'] }}</ion-label>
        <br />
        <ion-label>{{ record['updated_at'] * 1000 | date: 'shortTime' }}</ion-label>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
