<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button class="back-btn" color="dark" (click)="backButton()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Saber Hoax</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-message-control
    *ngIf="msgResponse.type"
    [type]="msgResponse.type"
    [message]="msgResponse.msg"
  ></app-message-control>

  <div *ngIf="!dataSaberHoax && !msgResponse.type">
    <ion-label>
      <p padding class="title">
        <app-skeleton height="20px" width="80%"></app-skeleton>
        <app-skeleton height="20px" width="60%"></app-skeleton>
      </p>
    </ion-label>

    <app-skeleton height="150px" width="100%"></app-skeleton>
    <div padding>
      <app-skeleton height="20px" width="100%"></app-skeleton>
      <app-skeleton height="20px" width="100%"></app-skeleton>
      <app-skeleton height="20px" width="100%"></app-skeleton>
      <app-skeleton height="20px" width="100%"></app-skeleton>
      <app-skeleton height="20px" width="90%"></app-skeleton>
      <app-skeleton height="20px" width="70%"></app-skeleton>
      <app-skeleton height="20px" width="60%"></app-skeleton>
    </div>
  </div>

  <div *ngIf="dataSaberHoax">
    <ion-label>
      <p padding class="title">{{ dataSaberHoax.title }}</p>
    </ion-label>

    <img
      [src]="dataSaberHoax.cover_path_url"
      onError="this.src='assets/img/placeholder_image.png';"
      class="img-saber-hoax"
    />
    <ion-label>
      <div class="content" padding [innerHTML]="dataSaberHoax.content"></div>
    </ion-label>
  </div>
</ion-content>
