<ion-header>
  <ion-toolbar>
    <ion-title>Pesan</ion-title>

    <ion-button
      *ngIf="isPressDelete"
      strong
      slot="end"
      fill="clear"
      (click)="eventDelete()"
      >Batal</ion-button
    >

    <ion-icon
      *ngIf="isIndeterminate"
      name="trash"
      slot="end"
      size="large"
      (click)="confirmDelete()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-message-control
    *ngIf="msgResponse.type"
    [type]="msgResponse.type"
    [message]="msgResponse.msg"
  ></app-message-control>

  <div *ngIf="!dataBroadcast && !msgResponse.type">
    <ion-card *ngFor="let key of [0, 1, 2]">
      <ion-card-header>
        <ion-card-subtitle class="dark-read"
          ><app-skeleton height="20px" width="50%"></app-skeleton
        ></ion-card-subtitle>
        <ion-card-subtitle
          ><app-skeleton height="20px" width="60%"></app-skeleton
        ></ion-card-subtitle>
        <ion-card-subtitle class="dark-read"
          ><app-skeleton height="20px" width="40%"></app-skeleton
        ></ion-card-subtitle>
        <ion-text class="dark-read"
          ><app-skeleton height="20px" width="80%"></app-skeleton>
        </ion-text>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- <div *ngIf="dataBroadcast">
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>

      <ion-card
        *ngFor="let broadcast of dataBroadcast"
        (click)="goDetail(broadcast)"
      >
        <ion-card-header>
          <ion-card-subtitle
            class="dark-read"
            [ngClass]="{ 'dark-read': !checkRead(broadcast.id) }"
            >Dari: {{ broadcast.sender_name }}</ion-card-subtitle
          >
          <ion-card-subtitle>{{
            broadcast.updated_at * 1000 | date: 'd MMMM y h:mm'
          }}</ion-card-subtitle>
          <ion-card-subtitle
            [ngClass]="{ 'dark-read': !checkRead(broadcast.id) }"
            >[ {{ broadcast.category_name }} ]</ion-card-subtitle
          >
          <ion-text [ngClass]="{ 'dark-read': !checkRead(broadcast.id) }">{{
            broadcast.title
          }}</ion-text>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </div> -->

  <!-- <ion-list>
    <ion-item>
      <ion-label><strong>Select All</strong></ion-label>
      <ion-checkbox
        slot="start"
        [(ngModel)]="masterCheck"
        [indeterminate]="isIndeterminate"
        (click)="checkMaster($event)"
      ></ion-checkbox>
    </ion-item>
  </ion-list> -->
  <ion-list *ngIf="dataBroadcast">
    <ion-item *ngFor="let broadcast of dataBroadcast">
      <ion-card (click)="goDetail(broadcast)" (press)="eventDelete($event)">
        <ion-card-header>
          <ion-card-subtitle
            class="dark-read"
            [ngClass]="{ 'dark-read': !checkRead(broadcast.id) }"
            >Dari: {{ broadcast.sender_name }}</ion-card-subtitle
          >
          <ion-card-subtitle>{{
            broadcast.updated_at * 1000 | date: 'd MMMM y h:mm'
          }}</ion-card-subtitle>
          <ion-card-subtitle
            [ngClass]="{ 'dark-read': !checkRead(broadcast.id) }"
            >[ {{ broadcast.category_name }} ]</ion-card-subtitle
          >
          <ion-text [ngClass]="{ 'dark-read': !checkRead(broadcast.id) }">{{
            broadcast.title
          }}</ion-text>
        </ion-card-header>
      </ion-card>

      <ion-checkbox
        *ngIf="isPressDelete"
        slot="end"
        [(ngModel)]="broadcast.isChecked"
        (ionChange)="checkEvent()"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
