<ion-header>
  <ion-toolbar>
    <ion-title>broadcasts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar debounce="500" placeholder="Cari" padding></ion-searchbar>

  <ion-card class="dark-read" *ngFor="let broadcast of dataBroadcast">
    <ion-card-header>
      <ion-card-subtitle color="dark">Dari: {{ broadcast.author.name }}</ion-card-subtitle>
      <ion-card-title>[ {{ broadcast.category.name }} ]</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="ion-text-center" *ngIf="dataEmpty">Data tidak ditemukan</div>

      <div class="ion-text-justify">
        <ion-label class="ion-text-justify">{{ broadcast.description }}</ion-label>
        <br>
        <ion-label>{{ broadcast.updated_at * 1000 | date:'shortTime'}}</ion-label>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>