:host {
  ion-item {
    // border color
    --border-color: transparent;
  }

  ion-card {
    border-radius: 5px;

    background: white;
  }

  ion-toolbar {
    ion-searchbar {
      display: inline-block;
      width: 100%;
    }
  }

  ion-col {
    padding-left: unset;
    padding-top: 10px;
    padding-bottom: unset;
    padding-right: unset;
  }

  ion-button {
    text-transform: none;
  }

  .blues-color {
    --background: #00b7f0;
    --padding-start: 2em;
    --padding-end: 2em;
  }

  .list-headline-jabar {
    --padding-start: none;
  }
}

.section {
  margin-left: 10px;
  margin-right: 10px;
}

.color-grey {
  color: #767676;
}

.logo-app {
  height: 45px;
}

.icon-img {
  max-width: 55%;
  border-radius: 8px;
  box-shadow: 0 3px 4px rgba(var(--ion-color-dark-rgb), 0.25);
  margin-bottom: 4px;
}

.label-menu {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
  color: #707070;
  white-space: pre-line;
}

.thumbnail-image {
  border-radius: 4px;
}

.title-humas {
  font-size: 0.8em;
  color: #707070;
}

.title-video-post {
  font-size: 0.8em;
  margin-left: 12px;
}

.img-humas {
  border-radius: 6px;
}

.img-video-list {
  max-height: 180px;
}

.min-mt-14 {
  margin-top: -12px;
}

.icon-heart {
  font-size: 21px;
}

.text-like {
  font-size: 11px;
}

.thumbnail-list {
  position: absolute;
  bottom: 50%;
  left: 40%;
  width: 100%;
}

.thumbnail-img {
  width: 60px;
}

.notification-icon {
  font-size: 26px;
  margin-right: 3px;
}

// tablet mode v1
@media only screen and (min-width: 625px) {
  :host {
    ion-icon {
      font-size: 25px;
    }
  }

  .img-video-list {
    max-height: 170px;
  }

  .logo-app {
    height: 50px;
  }

  .icon-img {
    max-width: 60%;
  }

  .label-menu {
    font-size: 15px;
  }
}
