:host {
  ion-content {
    --background: var(--ion-color-light);
  }

  ion-item {
    border-radius: 0;
    border-bottom: 1px solid var(--ion-color-medium);
  }

  ion-card {
    &.no-radius {
      border-radius: 0;
    }
  }

  ion-toolbar {
    ion-searchbar {
      display: inline-block;
      width: 100%;
    }
  }

  ion-col {
    padding-left: unset;
    padding-top: 10px;
    padding-bottom: unset;
    padding-right: unset;
  }
}

.color-grey {
  color: #767676;
}

.logo-app {
  height: 45px;
}

.icon-img {
  max-width: 55%;
  border-radius: 8px;
  box-shadow: 0 3px 4px rgba(var(--ion-color-dark-rgb), 0.25);
  margin-bottom: 4px;
}

.label-menu {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
}

// tablet mode v1
@media only screen and (min-width: 625px) {
  :host {
    ion-icon {
      font-size: 25px;
    }
  }

  .logo-app {
    height: 50px;
  }

  .icon-img {
    max-width: 60%;
  }

  .label-menu {
    font-size: 15px;
  }
}
