<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Aspirasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed no-padding>
    <form
      [formGroup]="formAddAspirasi"
      (ngSubmit)="onFormSubmit(formAddAspirasi.getRawValue())"
    >
      <ion-row class="ion-padding-start ion-margin-top">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Kategori<span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-select
              formControlName="kabkota_id"
              okText="Pilih"
              cancelText="Batal"
              (ngModelChange)="onChanges('kabkota')"
              placeholder="Pilih Kab/Kota"
            >
              <ion-select placeholder="Select One">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
              </ion-select>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-start ion-margin-top">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Judul <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-textarea
              rows="6"
              formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
              placeholder="Masukkan nama anda"
            ></ion-textarea>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-start ion-margin-top">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label
              >Detail Aspirasi <span class="ion-text-right">:</span></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-textarea
              rows="6"
              formControlName="username"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              placeholder="Masukkan nama anda"
            ></ion-textarea>
          </div>
        </ion-col>
      </ion-row>

      <ion-button
        class="ion-margin-top"
        size="medium"
        expand="full"
        color="dark"
        type="submit"
        >Simpan perubahan
      </ion-button>
    </form>
  </ion-grid>
</ion-content>
