:host {
  ion-label {
    margin-top: 15px;
  }

  ion-select {
    --padding-start: 0px;
  }
}

.profile-content {
  height: 35px;
  display: flex;
  align-items: center;
}

.agreement {
  margin-right: 5px;
}
