<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Aspirasi</ion-title>
    <!-- <ion-icon name="attach" slot="end" (click)="uploadAspirasi()"></ion-icon> -->
    <ion-buttons slot="end" (click)="uploadAspirasi()">
      <ion-button shape="round" color="dark">
        <ion-icon name="attach"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed no-padding>
    <form
      [formGroup]="formAddAspirasi"
      (ngSubmit)="onFormSubmit(formAddAspirasi.getRawValue())"
    >
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <ion-item>
              <ion-label>Gender</ion-label>
              <ion-select
                formControlName="category_id"
                okText="Pilih"
                cancelText="Batal"
                placeholder="Pilih Kategori"
              >
                <ion-select-option
                  *ngFor="let category of CategoriesAspirasi"
                  value="{{ category.id }}"
                >
                  {{ category.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Judul</ion-label>
              <ion-input
                type="text"
                formControlName="title"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Detail Aspirasi</ion-label>
              <ion-textarea
                formControlName="description"
                rows="7"
                cols="20"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
              ></ion-textarea>
            </ion-item>

            <ion-item class="ion-margin-top" *ngIf="images.length">
              <!-- <ul>
                <li *ngFor="let item of images">
                  {{ item?.path }}
                  <img class="img-cover" [src]="urlStorage + item?.path" />
                </li>
              </ul> -->

              <ion-grid>
                <ion-label class="ion-margin-bottom">Lampiran</ion-label>
                <ion-row>
                  <ion-col size="4" *ngFor="let item of images; let i = index">
                    <div>
                      <ion-icon
                        color="danger"
                        name="remove-circle"
                        class="icon-remove"
                        (click)="removeImage(i)"
                      ></ion-icon>
                      <img class="img-cover" [src]="urlStorage + item?.path" />
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-list>
        <ion-item class="no-border">
          <ion-checkbox slot="start" formControlName="isChecked"></ion-checkbox>
          <ion-text item-right>
            <p class="agreement">
              Saya telah menyetujui untuk memberikan aspirasi untuk Jawa Barat
            </p></ion-text
          >
        </ion-item>
      </ion-list> -->

      <ion-button
        padding
        class="ion-margin-bottom"
        size="medium"
        expand="full"
        color="success"
        type="submit"
        >Simpan Sebagai Draft
      </ion-button>

      <ion-button
        padding
        class="ion-margin-top ion-margin-bottom"
        size="medium"
        expand="full"
        color="success"
        type="submit"
        >Kirim Aspirasi
      </ion-button>
    </form>
  </ion-grid>

  <!-- apakah anda setuju untuk memberikan aspirasi untuk jawa barat -->
  <!-- <h2>Your files: {{ images.length }}</h2>
  <ul>
    <li *ngFor="let item of images">
      {{ item?.path }}
      <img class="img-cover" [src]="urlStorage + item?.path" />
    </li>
  </ul>
  <p>{{ baseUrl }}</p> -->
</ion-content>
