:host {
  ion-label {
    margin-top: 15px;
  }

  ion-select {
    --padding-start: 0px;
  }

  ion-checkbox {
    margin: 6px;
  }
}

.no-border {
  --border-color: transparent;
}
.profile-content {
  height: 35px;
  display: flex;
  align-items: center;
}

.agreement {
  font-size: 13px;
}
