// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-item {
  --ion-item-background: transparent;
}

.introjs-tooltip {
  background-color: var(--ion-color-blues) !important;
}

.introjs-arrow.bottom {
  border-top-color: var(--ion-color-blues) !important;
}

.introjs-arrow.top {
  border-bottom-color: var(--ion-color-blues) !important;
}

.introjs-tooltiptext {
  color: #e6e7eb;
}

.introjs-skipbutton {
  color: black !important;
  visibility: hidden !important;
}

.introjs-donebutton {
  visibility: visible !important;
}

.introjs-button {
  font: 14px / normal sans-serif !important;
}

.form-qna ion-backdrop {
  z-index: 0;
}

ion-backdrop {
  background-color: transparent;
}

// backgrounds //
.bg-white {
  background-color: var(--ion-color-primary-contrast);
}

.bg-light {
  background-color: var(--ion-color-light);
}

.bg-dark {
  background-color: var(--ion-color-dark);
}

.bg-primary {
  background-color: var(--ion-color-primary);
}

.bg-secondary {
  background-color: var(--ion-color-secondary);
}

.bg-tertiary {
  background-color: var(--ion-color-tertiary);
}

.bg-profile {
  // background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary))
  background-image: var(--ion-color-light);
}

.bg-main {
  background-image: linear-gradient(
    -135deg,
    var(--ion-color-medium),
    var(--ion-color-light)
  );
}

// Helpers //
.w100 {
  width: 100%;
}

.bold {
  font-weight: bold !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.text08 {
  font-size: 0.8rem;
}

.text1 {
  font-size: 1rem !important;
}

.text12 {
  font-size: 1.2rem;
}

.text15 {
  font-size: 1.5rem;
}

.text20 {
  font-size: 2rem;
}

.text-15p {
  font-size: 15px;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: var(--ion-color-primary);
}
hei .text-secondary {
  color: var(--ion-color-secondary);
}

.text-dark {
  color: var(--ion-color-medium-contrast);
}

// margin
.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.min-mt-5 {
  margin-top: -5px;
}

.pt-5 {
  padding-top: 5px;
}

.pl-16 {
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.pb-10 {
  padding-bottom: 10px;
}

hr.divider {
  width: 100%;
  height: 15px;
  background: #e6e7eb;
}

// menu //
// Menu user profile
ion-toolbar.user-profile {
  .user-avatar {
    width: 68px;
    height: 68px;
  }

  .item-inner {
    border-width: 0;
  }
}

.swiper-pagination-bullet-active {
  background: var(--ion-color-blues) !important;
}

.swiper-pagination {
  position: unset;
  margin-top: 10px;
}

// Custom toolbar (overriding Shadow DOM)
ion-toolbar {
  &.ion-color-primary {
    --ion-color-base: linear-gradient(
      135deg,
      var(--ion-color-dark),
      var(--ion-color-primary)
    ) !important;
  }
}

// Android card shadow
ion-card {
  &.sc-ion-card-md-h {
    box-shadow: 0 2px 4px rgba(var(--ion-color-dark-rgb), 0.24);
  }
}

// style for auth pages
.auth-page {
  background-image: linear-gradient(
    135deg,
    var(--ion-color-dark),
    var(--ion-color-primary)
  );

  .grid {
    padding: 0;

    .col {
      padding: 0;
    }
  }

  .btn-group {
    .button-ios,
    .button-md {
      border-radius: 0;

      &:first-of-type {
        border-radius: 2px 0 0 2px;
      }

      &:last-of-type {
        border-radius: 0 2px 2px 0;
      }
    }
  }

  .auth-content {
    margin: 0 3%;

    .logo {
      width: 90%;
      min-height: 115px;
      margin: auto;
      border-radius: 10%;
      background: url('./assets/icon/logo.png') no-repeat;
      background-size: 100%;
    }

    .list-form {
      padding: 0;
      margin-bottom: 0;

      ion-item {
        background: none;
        padding: 0;

        &:first-child {
          border-top: none;
        }

        &:after {
          display: none;
        }

        ion-label {
          font-size: 1em;
          color: var(--ion-color-light);
        }

        input {
          color: var(--ion-color-dark);
        }
      }
    }
  }
}

// Custom Menu styles (overriding Shadow DOM)
ion-menu {
  ion-header {
    ion-toolbar {
      &.ion-color-dark {
        --ion-color-base: linear-gradient(
          135deg,
          var(--ion-color-dark),
          var(--ion-color-primary)
        ) !important;
      }
    }
  }
}

.mto {
  margin-top: 12px;

  ion-icon {
    margin-bottom: -2px;
  }
}

// inline flex
.d-inline-f {
  display: inline-flex;
}

// custom popover
.popover-content.sc-ion-popover-md {
  top: 40px !important;
  left: unset !important;
}

.popover-content {
  top: 40px;
  transform-origin: left top;
  transform: scale(1);
  width: 145px;
  height: 103px;
  right: 0;
}

.modal-update {
  --height: 80% !important;
  --width: 80% !important;
}

.modal-update .modal-wrapper {
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgb(117, 116, 116);
  box-sizing: border-box;
}

.popup-information {
  --height: 65% !important;
  --width: 80% !important;
}

.popup-information .modal-wrapper {
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgb(117, 116, 116);
  box-sizing: border-box;
}

.popup-not-register {
  --height: 50% !important;
  --width: 80% !important;
}

.popup-not-register .modal-wrapper {
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgb(117, 116, 116);
  box-sizing: border-box;
}

.dialog-section-register {
  line-height: 25px;
  text-align: center;
}

// tablet mode
@media only screen and (min-width: 625px) {
  .auth-page .auth-content .logo {
    min-height: 200px;
  }
}
