<ion-header>
  <ion-toolbar color="light"
    ><ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Indeks Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="headline ion-margin-top" *ngIf="dataFeatured">
    <img [src]="dataFeatured[0]?.cover_path_url" class="img-head" />
    <div class="card-title">
      {{ dataFeatured[0]?.title }}
    </div>
  </ion-card>

  <ion-grid class="ion-margin-top">
    <ion-row small class="text-dark">
      <ion-col size="6" no-padding *ngFor="let data of dataFeatured">
        <ion-card>
          <img [src]="data?.cover_path_url" class="img-grid" />

          <ion-card-content class="desc-featured">
            <p class="text-dark">{{ data?.title }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card
    class="text-dark ion-margin-top ion-margin-bottom"
    *ngFor="let data of dataNews"
  >
    <ion-item>
      <ion-text class="mb-5">
        <p>{{ data?.title }}</p>
      </ion-text>
      <img
        slot="end"
        [src]="data?.cover_path_url"
        alt="icon"
        class="news-img"
      />
    </ion-item>
  </ion-card>
</ion-content>
