:host {
  ion-item {
    --border-color: transparent;
  }
}

.headline {
  position: relative;
}

.img-head {
  max-height: 165px;
}

.img-grid {
  max-height: 120px;
}

.card-title {
  position: absolute;
  // top: 36%;
  bottom: 15%;
  padding-left: 15px;
  font-size: 1.2em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.news-img {
  max-width: 60px;
  height: 60px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
