<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button class="back-btn" color="dark" (click)="backButton()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Indeks Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading">
    <div padding>
      <app-skeleton height="120px" width="100%"></app-skeleton>
    </div>

    <ion-grid>
      <ion-row small class="text-dark">
        <ion-col size="6" no-padding *ngFor="let key of [0, 1, 2, 3]">
          <ion-card class="desc-featured">
            <app-skeleton height="60px" width="100%"></app-skeleton>

            <ion-card-content class="box-featured">
              <p class="text-dark text-featured box-text-featured">
                <app-skeleton height="20px" width="100%"></app-skeleton>
              </p>
            </ion-card-content>
            <div style="margin-left: 15px;">
              <app-skeleton height="20px" width="20%"></app-skeleton>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card
      class="text-dark ion-margin-top ion-margin-bottom"
      *ngFor="let key of [0, 1]"
    >
      <ion-item>
        <ion-text class="mb-5" style="width: 100%;">
          <p class="text-title">
            <app-skeleton height="20px" width="80%"></app-skeleton>
          </p>
          <app-skeleton height="20px" width="20%"></app-skeleton>
        </ion-text>
        <app-skeleton height="40px" width="40px"></app-skeleton>
      </ion-item>
    </ion-card>
  </div>

  <ion-card
    class="headline ion-margin-top"
    *ngIf="dataFeatured && dataFeatured[0] !== null"
    (click)="goToDetailNews(dataFeatured[0].id)"
  >
    <img
      [src]="dataFeatured[0]?.cover_path_url"
      onError="this.src='assets/img/placeholder_image.png';"
      class="img-head"
    />
    <div class="text-title card-title">
      {{ dataFeatured[0]?.title }}
    </div>
  </ion-card>

  <ion-grid *ngIf="dataFeatured">
    <ion-row small class="text-dark">
      <ion-col size="6" no-padding *ngFor="let data of dataFeatured | slice: 1">
        <ion-card
          class="desc-featured"
          (click)="goToDetailNews(data.id)"
          *ngIf="data !== null"
        >
          <img
            [src]="data?.cover_path_url"
            onError="this.src='assets/img/placeholder_image.png';"
            class="img-grid"
          />

          <ion-card-content class="box-featured">
            <p class="text-dark text-featured box-text-featured">
              {{ data.title | slice: 0:35
              }}{{ data.title.length > 35 ? '...' : '' }}
            </p>
          </ion-card-content>
          <ion-note class="ion-margin-top source-title-featured"
            ><img
              [src]="data.channel?.icon_url"
              class="source-icon"
              onError="this.src='assets/img/placeholder_image_portrait.png';"
              alt="sumber"
            />
            {{ data.channel?.name }}</ion-note
          >
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-message-control
    *ngIf="msgResponse.type"
    [type]="msgResponse.type"
    [message]="msgResponse.msg"
  ></app-message-control>

  <div *ngFor="let data of dataNews">
    <ion-card
      class="text-dark ion-margin-top ion-margin-bottom"
      (click)="goToDetailNews(data.id)"
    >
      <ion-item>
        <ion-text class="mb-5">
          <p class="text-title">
            {{ data.title | slice: 0:45
            }}{{ data.title.length > 45 ? '...' : '' }}
          </p>
          <ion-note class="ion-margin-top source-title"
            ><img
              [src]="data.channel.icon_url"
              class="source-icon"
              onError="this.src='assets/img/placeholder_image_portrait.png';"
              alt="sumber"
            />
            {{ data.channel.name }}</ion-note
          >
        </ion-text>
        <img
          slot="end"
          [src]="data?.cover_path_url"
          onError="this.src='assets/img/placeholder_image_portrait.png';"
          alt="icon"
          class="news-img"
        />
      </ion-item>
    </ion-card>
  </div>

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="doInfinite($event)"
    *ngIf="!isLoading"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Sedang mengambil data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
