<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button (click)="backViewProfile()"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Edit Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile" color="light">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img *ngIf="!image" src="../../../assets/img/user.png" />
      <img *ngIf="image" src="{{ image }}" />
      <h1 class="fw500" *ngIf="dataProfile">{{ dataProfile.name }}</h1>

      <ion-button icon-left color="secondary" (click)="openEditProfile()">
        <ion-icon name="photos"></ion-icon>
        Ganti Foto
      </ion-button>
    </ion-card-content>

    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>
          <form
            [formGroup]="onEditForm"
            (ngSubmit)="onFormSubmit(onEditForm.getRawValue())"
          >
            <ion-list margin-bottom>
              <ion-list-header color="light">
                <ion-label class="fw700">Profil</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label color="dark" position="stacked">Nama:</ion-label>
                <ion-input
                  type="text"
                  formControlName="name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  placeholder="Masukkan nama anda"
                ></ion-input>
              </ion-item>
              <div
                *ngIf="submitted && !!f.name.errors"
                class="invalid-feedback"
              >
                <p ion-text class="text08" *ngIf="!!f.name.errors.required">
                  <ion-text color="danger">
                    Nama harus diisi
                  </ion-text>
                </p>
                <p ion-text class="text08" *ngIf="!!f.name.errors.maxlength">
                  <ion-text color="danger">
                    Nama yang anda inputkan lebih dari 255 karakter
                  </ion-text>
                </p>
                <p ion-text class="text08" *ngIf="!!f.name.errors.minlength">
                  <ion-text color="danger">
                    Nama harus terdiri dari 4 karakter atau lebih
                  </ion-text>
                </p>
                <p ion-text class="text08" *ngIf="!!f.name.errors.pattern">
                  <ion-text color="danger">
                    Isian yang diinputkan tidak sesuai
                  </ion-text>
                </p>
              </div>

              <ion-item>
                <ion-label color="dark" position="stacked">Username:</ion-label>
                <ion-input
                  type="text"
                  formControlName="username"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                  (keydown.space)="$event.preventDefault()"
                  placeholder="Masukkan Username anda"
                >
                </ion-input>
              </ion-item>
              <div
                *ngIf="submitted && !!f.username.errors"
                class="invalid-feedback"
              >
                <p ion-text class="text08" *ngIf="!!f.username.errors.required">
                  <ion-text color="danger">
                    Username harus diisi
                  </ion-text>
                </p>
                <p
                  ion-text
                  class="text08"
                  *ngIf="!!f.username.errors.maxlength"
                >
                  <ion-text color="danger">
                    Username yang anda inputkan lebih dari 255 karakter
                  </ion-text>
                </p>
                <p
                  ion-text
                  class="text08"
                  *ngIf="!!f.username.errors.minlength"
                >
                  <ion-text color="danger">
                    Username harus terdiri dari 4 karakter atau lebih
                  </ion-text>
                </p>
                <p
                  ion-text
                  class="text08"
                  *ngIf="msg_server.username && !!f.username.errors.notValid"
                >
                  <ion-text color="danger">
                    {{ msg_server.username }}
                  </ion-text>
                </p>
              </div>

              <ion-item>
                <ion-label color="dark" position="stacked">Email:</ion-label>
                <ion-input
                  type="email"
                  formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  placeholder="Masukkan email anda"
                >
                </ion-input>
              </ion-item>
              <div
                *ngIf="submitted && !!f.email.errors"
                class="invalid-feedback"
              >
                <p ion-text class="text08" *ngIf="!!f.email.errors.required">
                  <ion-text color="danger">
                    Email harus diisi
                  </ion-text>
                </p>
                <p ion-text class="text08" *ngIf="!!f.email.errors.email">
                  <ion-text color="danger">
                    Format email yang anda masukkan salah. Email hanya boleh
                    menggunakan alphanumeric, underscore, titik dan @
                  </ion-text>
                </p>
                <p
                  ion-text
                  class="text08"
                  *ngIf="msg_server.email && !!f.email.errors.notValid"
                >
                  <ion-text color="danger">
                    {{ msg_server.email }}
                  </ion-text>
                </p>
              </div>

              <ion-item>
                <ion-label color="dark" position="stacked">Telp:</ion-label>
                <ion-input
                  type="tel"
                  formControlName="phone"
                  placeholder="Masukkan nomor telepon anda"
                ></ion-input>
              </ion-item>
              <div
                *ngIf="submitted && !!f.phone.errors"
                class="invalid-feedback"
              >
                <p ion-text class="text08" *ngIf="!!f.phone.errors.required">
                  <ion-text color="danger">
                    Nomor telepon harus diisi
                  </ion-text>
                </p>
                <p ion-text class="text08" *ngIf="!!f.phone.errors.minlength">
                  <ion-text color="danger">
                    Nomor telepon yang anda masukkan salah. Nomor telepon harus
                    terdiri 3 sampai 13 nomor
                  </ion-text>
                </p>
                <p ion-text class="text08" *ngIf="!!f.phone.errors.maxlength">
                  <ion-text color="danger">
                    Nomor telepon yang anda masukkan salah. Nomor telepon harus
                    terdiri 3 sampai 13 nomor
                  </ion-text>
                </p>
              </div>

              <ion-item>
                <ion-label color="dark" position="stacked">Alamat:</ion-label>
                <ion-input
                  type="text"
                  formControlName="address"
                  placeholder="Masukkan alamat anda"
                ></ion-input>
              </ion-item>
              <div
                *ngIf="submitted && !!f.address.errors"
                class="invalid-feedback"
              >
                <p ion-text class="text08" *ngIf="!!f.address.errors.required">
                  <ion-text color="danger">
                    Alamat harus diisi
                  </ion-text>
                </p>
                <p ion-text class="text08" *ngIf="!!f.address.errors.maxlength">
                  <ion-text color="danger">
                    Alamat yang anda inputkan lebih dari 255 karakter
                  </ion-text>
                </p>
              </div>

              <ion-item *ngIf="dataKabkota">
                <ion-label>Kab/Kota:</ion-label>
                <ion-select
                  formControlName="kabkota_id"
                  okText="Pilih"
                  cancelText="Batal"
                  (ngModelChange)="onChanges('kabkota')"
                  placeholder="Pilih Kab/Kota"
                >
                  <ion-select-option
                    *ngFor="let kabkota of dataKabkota"
                    value="{{ kabkota.id }}"
                    >{{ kabkota.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="dataKecamatan">
                <ion-label>Kecamatan:</ion-label>
                <ion-select
                  formControlName="kec_id"
                  okText="Pilih"
                  cancelText="Batal"
                  (ngModelChange)="onChanges('kecamatan')"
                  placeholder="Pilih Kecamatan"
                >
                  <ion-select-option
                    *ngFor="let kecamatan of dataKecamatan"
                    value="{{ kecamatan.id }}"
                  >
                    {{ kecamatan.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="dataKelurahan">
                <ion-label>Kelurahan:</ion-label>
                <ion-select
                  formControlName="kel_id"
                  okText="Pilih"
                  cancelText="Batal"
                  placeholder="Pilih Kelurahan"
                >
                  <ion-select-option
                    *ngFor="let kelurahan of dataKelurahan"
                    value="{{ kelurahan.id }}"
                  >
                    {{ kelurahan.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">RW:</ion-label>
                <ion-input
                  type="text"
                  formControlName="rw"
                  placeholder="Masukan RW"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">RT:</ion-label>
                <ion-input
                  type="text"
                  formControlName="rt"
                  placeholder="Masukan RT"
                ></ion-input>
              </ion-item>
              <div *ngIf="submitted && !!f.rt.errors" class="invalid-feedback">
                <p
                  ion-text
                  class="text08"
                  *ngIf="
                    !!f.rt.errors.pattern ||
                    !!f.rt.errors.required ||
                    !!f.rt.errors.maxlength
                  "
                >
                  <ion-text color="danger">
                    Data input tidak sesuai
                  </ion-text>
                </p>
              </div>

              <ion-item>
                <ion-label color="dark" position="stacked">Role:</ion-label>
                <ion-input type="text" formControlName="role"></ion-input>
              </ion-item>
            </ion-list>

            <ion-list>
              <ion-list-header color="light">
                <ion-label class="fw700">Media Sosial</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label color="dark" position="stacked"
                  >Instagram: (contoh: <b>user234</b>)</ion-label
                >
                <ion-input
                  type="text"
                  formControlName="instagram"
                  placeholder="masukkan akun instagram anda"
                >
                </ion-input>
              </ion-item>
              <div
                *ngIf="submitted && !!f.instagram.errors"
                class="invalid-feedback"
              >
                <p ion-text class="text08" *ngIf="!!f.instagram.errors.pattern">
                  <ion-text color="danger">
                    Isian yang diinputkan tidak sesuai
                  </ion-text>
                </p>
              </div>

              <ion-item>
                <ion-label color="dark" position="stacked"
                  >Facebook: (contoh: <b>https://facebook.com/user234</b>)
                </ion-label>
                <ion-input
                  type="text"
                  formControlName="facebook"
                  (ngModelChange)="onChangeFB()"
                  placeholder="Masukkan akun facebook Anda"
                ></ion-input>
              </ion-item>
              <div *ngIf="submitted && !fb_validator" class="invalid-feedback">
                <p ion-text class="text08">
                  <ion-text color="danger">
                    Isian yang diinputkan tidak sesuai
                  </ion-text>
                </p>
              </div>

              <ion-item>
                <ion-label color="dark" position="stacked"
                  >Twitter: (contoh: <b>user234</b>)</ion-label
                >
                <ion-input
                  type="text"
                  formControlName="twitter"
                  placeholder="Masukkan akun Twitter Anda"
                ></ion-input>
              </ion-item>
              <div
                *ngIf="submitted && !!f.twitter.errors"
                class="invalid-feedback"
              >
                <p ion-text class="text08" *ngIf="!!f.twitter.errors.pattern">
                  <ion-text color="danger">
                    Isian yang diinputkan tidak sesuai
                  </ion-text>
                </p>
              </div>
            </ion-list>
            <ion-button
              class="ion-margin-top"
              size="medium"
              expand="full"
              color="dark"
              type="submit"
              >Simpan perubahan
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
