<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card *ngFor="let record of records" (click)="goDetail(record['id'])">
    <img src="{{ record['photo'] }}" />
    <ion-card-header>
      <ion-card-title>{{ record['title'] }}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="padding-top: 0">
      <div style="margin: 15px 0">
        {{ record['description'] }}
      </div>

      <div>
        <ion-icon name="heart" color="danger"></ion-icon> 1,240 orang telah mengikuti survey ini.
      </div>
    </ion-card-content>
  </ion-card> -->

  <!-- <whatever style="width: 100%; height: 50vh;"></whatever> -->
  <button
    ion-button
    (click)="
      openWithCordovaBrowser(
        'http://35.247.135.93.xip.io:5001/view/#!/forms/5d038b3f5d65dc01009ef904'
      )
    "
  >
    Open with Cordova browser
  </button>
</ion-content>
