<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="dataEmpty">Tidak ada Polling</div>
  <ion-card *ngFor="let survey of dataSurvey; let i = index">
    <ion-item>
      <ion-text
        ><p>{{ survey.title }}</p>
        <ion-note
          >{{
            survey.survey_count > 0 ? survey.votes_count : 0
          }}
          surveyors</ion-note
        ></ion-text
      >
      <ion-button
        fill="solid"
        slot="end"
        color="success"
        (click)="goDetail(survey.external_url)"
        >Isi survey</ion-button
      >
    </ion-item>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Sedang mengambil data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
