<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round" color="dark" (click)="backButton()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pesan Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataBroadcast">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="color-black"
        >Dari: {{ dataBroadcast['author'] }}</ion-card-subtitle
      >
      <ion-card-subtitle>{{
        dataBroadcast.updated_at * 1000 | date: 'EEEE, MMMM y h:mm'
      }}</ion-card-subtitle>
      <ion-card-subtitle class="color-black"
        >[ {{ dataBroadcast['category_name'] }} ]</ion-card-subtitle
      >
      <ion-card-title class="color-black">{{
        dataBroadcast['title']
      }}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="padding-top: 0">
      <div>
        <ion-label class="ion-text-justify" class="color-black">{{
          dataBroadcast['description']
        }}</ion-label>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
