:host {
  ion-item,
  .input-password {
    --inner-padding-end: none;
  }

  ion-item {
    --border-color: transparent;
    --highlight-color-focused: transparent;
    background-color: #e2e2e2;
    padding-left: 10px;
    border-radius: 5px;
    padding-right: 10px;
    margin-top: 8px;
    margin-bottom: 25px;
  }

  ion-label,
  ion-input {
    font-size: 15px;
  }

  ion-button {
    text-transform: none;
  }
}

.logo {
  width: 60%;
}

.sub-title {
  font-size: 0.8em;
  margin-top: -10px;
}

.mb-15 {
  margin-bottom: 15px;
}
