<ion-content padding>
  <div padding-horizontal text-center class="animated fadeInDown">
    <img class="logo" src="assets/icon/logo.png" alt="logo" />
  </div>

  <ion-text text-center>
    <p>Pengembalian Akun</p>
    <p class="sub-title">Masukan email yang telah terdaftar di Sapawarga</p>
  </ion-text>

  <form class="ion-padding-top" [formGroup]="forgotPasswordForm">
    <ion-label position="stacked">Email</ion-label>
    <ion-item no-padding>
      <ion-input
        type="email"
        class="text-dark"
        color="dark"
        formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        placeholder="Email"
      ></ion-input>
    </ion-item>
    <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
      <p ion-text class="text08" *ngIf="!!f.email.errors.required">
        <ion-text color="danger">
          Email harus diisi
        </ion-text>
      </p>
      <p ion-text class="text08" *ngIf="!!f.email.errors.email">
        <ion-text color="danger">
          Format email yang anda masukkan salah. Email hanya boleh menggunakan
          alphanumeric, underscore, titik dan @
        </ion-text>
      </p>
      <!-- <p
          ion-text
          class="text08"
          *ngIf="msg_server.email && !!f.email.errors.notValid"
        >
          <ion-text color="danger">
            {{ msg_server.email }}
          </ion-text>
        </p> -->
    </div>
  </form>

  <ion-item style="background-color: transparent; margin-left: -25px;">
    <ion-button
      fill="clear"
      color="dark"
      tappable
      (click)="dismiss()"
      style="margin-top: 30px"
      >Kembali</ion-button
    >

    <ion-button
      slot="end"
      expand="block"
      color="blues"
      tappable
      size="default"
      (click)="submitForgotPassword()"
      style="margin-top: 30px"
      >Lanjut</ion-button
    >
  </ion-item>
</ion-content>
