<ion-content padding>
  <div padding-horizontal text-center class="animated fadeInDown">
    <img class="logo" src="assets/icon/logo.png" alt="logo" />
  </div>

  <ion-text text-center>
    <p>Pengembalian Akun</p>
    <p class="sub-title">Masukan email yang telah terdaftar di Sapawarga</p>
  </ion-text>

  <form class="ion-padding-top" [formGroup]="forgotPasswordForm">
    <ion-label position="stacked">Email</ion-label>
    <ion-item no-padding>
      <ion-input
        type="email"
        class="text-dark"
        color="dark"
        formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        placeholder="Email"
      ></ion-input>
    </ion-item>
    <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
      <p ion-text class="text08" *ngIf="!!f.email.errors.required">
        <ion-text color="danger">
          Email harus diisi
        </ion-text>
      </p>
      <p ion-text class="text08" *ngIf="!!f.email.errors.email">
        <ion-text color="danger">
          Format email yang anda masukkan salah. Email hanya boleh menggunakan
          alphanumeric, underscore, titik dan @
        </ion-text>
      </p>
    </div>
  </form>

  <ion-button
    expand="block"
    color="blues"
    tappable
    (click)="submitForgotPassword()"
    class="mb-15"
    >Lanjut</ion-button
  >

  <ion-button
    expand="block"
    color="light"
    tappable
    (click)="dismiss()"
    class="mb-15"
    >Kembali</ion-button
  >

  <ion-button
    expand="block"
    fill="clear"
    color="dark"
    tappable
    (click)="helper()"
    >Lupa email?</ion-button
  >
</ion-content>
