<div class="modal-card" *ngIf="dataPopup">
  <ion-buttons class="btn-close" (click)="btnClose()">
    <button class="border-radius">
      <ion-icon name="close" style="font-size: 25px!important;"></ion-icon>
    </button>
  </ion-buttons>
  <div class="img-popup">
    <img
      class="img"
      [src]="dataPopup.image_path_url"
      onError="this.src='assets/img/placeholder_image.png';"
    />
  </div>
  <div class="mid-section">
    <ion-text>
      {{ dataPopup.description }}
    </ion-text>
  </div>
  <div class="links">
    <ion-button
      expand="block"
      class="tranform-text"
      color="blues"
      (click)="goToDetail()"
      >Selengkapnya</ion-button
    >
  </div>
</div>
