:host {
  ion-item {
    --border-color: transparent;
  }
}

.thumbnail-image {
  border-radius: 4px;
}

.list-headline-jabar {
  --padding-start: unset;
}

.thumbnail-list {
  position: absolute;
  bottom: 50%;
  left: 40%;
  width: 100%;
}

.thumbnail-img {
  width: 60px;
}

.title-video-post {
  font-size: 0.8em;
  margin-left: 12px;
}

.icon-heart {
  font-size: 21px;
}

.text-like {
  font-size: 11px;
}
