<ion-header>
  <ion-toolbar color="light">
    <ion-title color="dark">Akun Saya</ion-title>
    <ion-icon
      name="more"
      slot="end"
      size="large"
      (click)="navbarMore($event)"
      *ngIf="dataProfile && msgResponse.type !== 'server-error'"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="profile" color="light">
  <app-message-control
    *ngIf="msgResponse.type"
    [type]="msgResponse.type"
    [message]="msgResponse.msg"
  ></app-message-control>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <!-- <div *ngIf="!dataProfile && !msgResponse.type" class="ion-text-center"> -->
  <div *ngIf="!dataProfile && !msgResponse.type" class="ion-text-center">
    <div style="text-align: -webkit-center; margin-top: 30px;">
      <ion-card-content class="bg-profile">
        <ion-avatar style="margin: 0 auto;">
          <app-skeleton height="100%" width="100%"></app-skeleton>
        </ion-avatar>

        <h1 class="fw500" style="margin: 15px; position: relative; left: 17%;">
          <app-skeleton height="25px" width="60%"></app-skeleton>
        </h1>

        <div class="sosial-media" style="display: inline-flex;">
          <app-skeleton
            height="30px"
            width="30px"
            style="margin: 10px;"
          ></app-skeleton>
          <app-skeleton
            height="30px"
            width="30px"
            style="margin: 10px;"
          ></app-skeleton>
          <app-skeleton
            height="30px"
            width="30px"
            style="margin: 10px;"
          ></app-skeleton>
        </div>
      </ion-card-content>
    </div>

    <div padding style="margin-top: 10px;">
      <app-skeleton height="20px" width="100%"></app-skeleton>
      <app-skeleton height="20px" width="100%"></app-skeleton>
      <app-skeleton height="20px" width="100%"></app-skeleton>
      <app-skeleton height="20px" width="100%"></app-skeleton>
      <app-skeleton height="20px" width="100%"></app-skeleton>
      <app-skeleton height="20px" width="100%"></app-skeleton>
      <app-skeleton height="20px" width="100%"></app-skeleton>
    </div>
  </div>

  <ion-card no-margin *ngIf="dataProfile">
    <ion-card-content class="bg-profile">
      <img
        class="profile-image"
        *ngIf="!dataProfile.photo_url"
        src="assets/img/user.png"
      />
      <img
        class="profile-image"
        *ngIf="dataProfile.photo_url"
        onError="this.src='assets/img/user.png';"
        [src]="dataProfile.photo_url"
      />
      <h1 class="fw500">{{ dataProfile.name }}</h1>

      <div class="sosial-media">
        <img
          src="assets/icon/facebook.png"
          (click)="
            goToSosialMedia(
              'facebook',
              dataProfile.facebook,
              dataProfile.facebook
            )
          "
        />
        <img
          src="assets/icon/instagram.png"
          (click)="goToSosialMedia('instagram', dataProfile.instagram)"
        />
        <img
          src="assets/icon/twitter.png"
          (click)="goToSosialMedia('twitter', dataProfile.twitter)"
        />
      </div>
    </ion-card-content>

    <ion-grid fixed no-padding>
      <ion-row class="ion-margin-top">
        <ion-col size="5">
          <div class="profile-content">
            <ion-label>Nama<span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.name }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content">
            <ion-label
              >Tanggal Lahir<span class="ion-text-right">:</span></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label
              >{{ dataProfile?.birth_date | date: 'dd-MM-yyyy' }}</ion-label
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content">
            <ion-label
              >Pendidikan<span class="ion-text-right">:</span></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile?.education_level?.title }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content">
            <ion-label
              >Pekerjaan<span class="ion-text-right">:</span></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile?.job_type?.title }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content nama-pengguna">
            <ion-label
              >Username<span class="ion-text-right nama-pengguna-span"
                >:</span
              ></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.username }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content">
            <ion-label>Email <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.email }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content">
            <ion-label>Telepon <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.phone }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content">
            <ion-label
              >Alamat Lengkap<span class="ion-text-right">:</span></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.address }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content">
            <ion-label
              >Kab / Kota <span class="ion-text-right">:</span></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.kabkota.name | titlecase }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content">
            <ion-label
              >Kecamatan <span class="ion-text-right">:</span></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.kecamatan.name | titlecase }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content">
            <ion-label
              >Kelurahan <span class="ion-text-right">:</span></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.kelurahan.name | titlecase }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content">
            <ion-label>Rw <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ convertNumber(dataProfile.rw) }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="profile-content">
            <ion-label>Rt <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label *ngIf="dataProfile.rt"
              >{{ convertNumber(dataProfile.rt) }}</ion-label
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
