:host {
  ion-tab-button {
    --color-selected: var(
      --ion-tab-bar-color-activated,
      var(--ion-color-success, #0f9c56)
    );
  }
}

.icon-notif {
  width: 15px;
  position: absolute;
  top: 7px;
  margin-left: 9px;
  z-index: 999;
}

// tablet mode
@media only screen and (min-width: 625px) {
  :host {
    ion-tab-bar {
      height: 75px;
    }

    ion-icon {
      font-size: 25px;
    }

    ion-label {
      font-size: 15px;
    }
  }
}
