:host {
  ion-label {
    margin-top: 15px;
  }

  ion-select {
    --padding-start: 0px;
  }

  ion-checkbox {
    margin: 6px;
  }

  .first-section-upload-img {
    --border-color: transparent;
    --padding-start: none;
    // margin-top: 10px;
  }

  ion-card {
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 8px;
  }

  .section-text-upload {
    --border-color: transparent;
    // position: relative;
    // left: 15%;
  }
}

.no-border {
  --border-color: transparent;
}
.profile-content {
  height: 35px;
  display: flex;
  align-items: center;
}

.agreement {
  font-size: 13px;
}

.img-cover {
  width: 90px;
  height: 90px;
}

.icon-remove {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.msg-lampiran {
  margin-top: unset !important;
  color: grey;
  font-size: 12px;
}
