<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start" (click)="backMyAspirasi()">
      <ion-button shape="round" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ isEdit ? 'Edit' : 'Tambah' }} Usulan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed no-padding>
    <form [formGroup]="formAddAspirasi">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <!-- <ion-item class="ion-margin-top" *ngIf="images.length">
              <ion-grid>
                <ion-label>Lampiran</ion-label>
                <ion-label class="ion-margin-bottom msg-lampiran"
                  >Max. jumlah foto yang dapat diupload adalah 5 foto</ion-label
                >
                <ion-row>
                  <ion-col size="4" *ngFor="let item of images; let i = index">
                    <div>
                      <ion-icon
                        color="danger"
                        name="remove-circle"
                        class="icon-remove"
                        (click)="removeImage(i)"
                      ></ion-icon>
                      <img class="img-cover" [src]="item?.url" />
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item> -->

            <ion-item
              style="--border-color: transparent;--padding-start:none"
              *ngIf="images.length"
            >
              <ion-grid>
                <ion-row>
                  <ion-col size="4" *ngFor="let item of images; let i = index">
                    <div>
                      <img
                        slot="start"
                        src="assets/icon/trash.png"
                        alt="icon trash"
                        class="icon-remove"
                        style="width: 17px;"
                        (click)="removeImage(i)"
                      />

                      <!-- <ion-icon
                        color="light"
                        name="trash"
                        class="icon-remove"
                        (click)="removeImage(i)"
                      ></ion-icon> -->
                      <img class="img-cover" [src]="item?.url" />
                    </div>
                  </ion-col>

                  <div style="align-self: center;">
                    <ion-icon
                      size="large"
                      name="add-circle-outline"
                      (click)="uploadAspirasi()"
                    ></ion-icon>
                  </div>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-card *ngIf="images.length === 0" (click)="uploadAspirasi()">
              <ion-item class="first-section-upload-img">
                <img
                  slot="start"
                  src="assets/img/placeholder_usulan.png"
                  style="width: 25%;"
                />
                <div style="position: relative;">
                  <ion-item class="section-text-upload">
                    <img
                      slot="start"
                      src="assets/icon/upload.png"
                      alt="icon upload"
                      style="margin-inline-end: 10px; width: 25px; "
                    />
                    <!-- <ion-icon
                      slot="start"
                      name="cloud-upload"
                      style="margin-inline-end: 10px; font-size: 25px !important; "
                    ></ion-icon> -->
                    <ion-text style="margin-top: 5px;">Upload Gambar</ion-text>
                  </ion-item>
                </div>
              </ion-item>
            </ion-card>

            <ion-item *ngIf="CategoriesAspirasi">
              <ion-label>Kategori</ion-label>
              <ion-select
                formControlName="category_id"
                value="{{ f.category_id.value }}"
                okText="Pilih"
                cancelText="Batal"
                placeholder="Pilih Kategori"
              >
                <ion-select-option
                  *ngFor="let category of CategoriesAspirasi"
                  value="{{ category.id }}"
                >
                  {{ category.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <div
              *ngIf="submitted && !!f.category_id.errors"
              class="invalid-feedback"
            >
              <p
                ion-text
                class="text08"
                *ngIf="!!f.category_id.errors.required"
              >
                <ion-text color="danger">
                  kategori harus diisi
                </ion-text>
              </p>
            </div>

            <ion-item>
              <ion-label position="floating">Judul</ion-label>
              <ion-input
                type="text"
                formControlName="title"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
              ></ion-input>
            </ion-item>
            <div *ngIf="submitted && !!f.title.errors" class="invalid-feedback">
              <p ion-text class="text08" *ngIf="!!f.title.errors.required">
                <ion-text color="danger">
                  Judul harus diisi
                </ion-text>
              </p>
              <p ion-text class="text08" *ngIf="!!f.title.errors.minlength">
                <ion-text color="danger">
                  Judul minimal 10 karakter
                </ion-text>
              </p>
              <p ion-text class="text08" *ngIf="!!f.title.errors.maxlength">
                <ion-text color="danger">
                  Judul maximal 60 karakter
                </ion-text>
              </p>
              <p ion-text class="text08" *ngIf="!!f.title.errors.pattern">
                <ion-text color="danger">
                  Judul tidak sesuai
                </ion-text>
              </p>
            </div>

            <ion-item>
              <ion-label position="floating">Detail Usulan</ion-label>
              <ion-textarea
                formControlName="description"
                rows="7"
                cols="20"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
              ></ion-textarea>
            </ion-item>
            <div
              *ngIf="submitted && !!f.description.errors"
              class="invalid-feedback"
            >
              <p
                ion-text
                class="text08"
                *ngIf="!!f.description.errors.required"
              >
                <ion-text color="danger">
                  Detail harus diisi
                </ion-text>
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button
        padding
        class="ion-margin-bottom"
        size="medium"
        expand="full"
        color="warning"
        (click)="saveDraft()"
        *ngIf="isEdit !== true"
        >Simpan Sebagai Draft
      </ion-button>

      <ion-button
        padding
        class="ion-margin-top ion-margin-bottom"
        size="medium"
        expand="full"
        color="success"
        (click)="confirmationSend()"
      >
        {{ isEdit ? 'Edit Usulan' : 'Kirim Usulan' }}
      </ion-button>
    </form>
  </ion-grid>
</ion-content>
