<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>notifikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let record of records" (click)="goToDetail(record['target'])">
      <ion-avatar item-start class="ion-margin-end">
        <img src="../../../assets/icon/SW-E-samsat.png" />
      </ion-avatar>
      <ion-label item-end>{{ record['title'] }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
