<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>notifikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item
      *ngFor="let record of records"
      (click)="goToDetail(record['target'])"
    >
      <ion-avatar item-start class="ion-margin-end">
        <img class="icon-img" src="{{ record['image_url'] }}" />
      </ion-avatar>
      <ion-text item-end>{{ record['title'] }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
