<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>notifikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item (click)="goToDetail()">
    <ion-item>
      <ion-avatar item-start class="ion-margin-end">
        <img src="../../../assets/icon/SW-E-samsat.png" />
      </ion-avatar>
      <ion-label item-end>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar item-start class="ion-margin-end">
        <img src="../../../assets/icon/SW-E-samsat.png" />
      </ion-avatar>
      <ion-label item-end>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar item-start class="ion-margin-end">
        <img src="../../../assets/icon/SW-E-samsat.png" />
      </ion-avatar>
      <ion-label item-end>Pokémon Yellow</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
