<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
      <ion-buttons slot="start" (click)="confirmation()">
        <ion-button shape="round" color="dark">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>polling</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-message-control
    *ngIf="msgResponse.type"
    [type]="msgResponse.type"
    [message]="msgResponse.msg"
  ></app-message-control>

  <ion-card *ngIf="dataPolling">
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>{{ dataPolling.question }}</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let polling of dataPolling.answers">
          <ion-label>{{ polling.body }}</ion-label>
          <ion-radio
            slot="start"
            [value]="polling.id"
            color="success"
            (ionSelect)="radioChecked(polling)"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
      <div text-center class="btn-voted">
        <ion-button color="success" (click)="submitPolling()"
          >Submit</ion-button
        >
      </div>
    </ion-list>
  </ion-card>
</ion-content>
