<ion-content padding>
  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides; let i = index">
      <div [ngStyle]="getSlideBackgroundStyle(i + 1)">
        <div [ngClass]="slideCaptionStyle[i % 2]">
          <h2 [ngStyle]="{ color: slide.titleColor }">{{ slide.title }}</h2>
          <p class="slide-description">{{ slide.description }}</p>
        </div>
        <div *ngIf="i < 3" class="slide-button-skip">
          <ion-button fill="clear">Lewati</ion-button>
        </div>
        <div *ngIf="i === 3" class="slide-button-start">
          <ion-button expand="block" color="primary">Mulai</ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
