ion-slides {
    height: 100%;
}

.slide-background {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../../assets/img/onboarding/onboarding1.png") no-repeat;
    background-size: cover;
}

.slide-caption {
    position: absolute;
    left: 0;
    right: 0;

    &.top {
        top: 10%;
    }
    &.bottom {
        bottom: 10%;
    }
}

.slide-description {
    color: #727272;
}